<div class="widget stacked">
  <div class="widget-header">
    <h3>信息与成绩查询</h3>
  </div>
    <ul class="nav nav-list">
    <li><%= link_to "初试查询（含免试）", '#' %></a></li>
    <li><%= link_to "复试查询", students_reexaminationresult_path %></li>
  </ul>
</div><!--/.well -->

