<% provide(:title, "自主招生查询系统－初试分数线") %>
<div class="widget stacked">
  <div class="widget-header">
    <h3>一、普通专业初试合格线及免复试录取线：</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered">
      <thead>
      <tr class="alert-success">
        <th>招生专业</th>
        <th>模具设计与制造</th>
        <th>数控技术</th>
        <th>应用电子技术</th>
        <th>电子信息工程技术</th>
        <th>信息安全技术</th>
        <th>软件技术</th>
        <th>汽车电子技术</th>
      </tr>
      </thead>
      <tbody>
        <tr class="alert-info">
        <th>初试合格线</th>
        <th>63</th>
        <th>68</th>
        <th>60</th>
        <th>62</th>
        <th>141</th>
        <th>128</th>
        <th>57</th>
      </tr>
       <tr class="alert-info">
        <th>免复试录取线</th>
        <th>57</th>
        <th>66</th>
        <th></th>
        <th></th>
        <th>58</th>
        <th>72</th>
        <th></th>
        </tr>

      </tbody>
    </table>
  </div>

 <div class="widget-header">
    <h3>二、影视动画专业初试合格及照顾生合格线：</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered">
      <thead>
      <tr class="alert-success">
        <th>免文化知识考试考生录取线</th>
        <th>免文化知识考试考生进入复试合格线</th>
        <th>全考生初试合格线</th>
      </tr>
      </thead>
      <tbody>
        <tr class="alert-info">
        <th>100</th>
        <th>62</th>
        <th>82</th>
        </tr>
      </tbody>
    </table>
  </div>


   <div class="widget-header">
    <h3>三、广告设计与制作专业初试合格及照顾生合格线：</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered">
      <thead>
      <tr class="alert-success">
        <th>免文化知识考试考生录取线</th>
        <th>免文化知识考试考生进入复试合格线</th>
        <th>全考生初试合格线</th>
      </tr>
      </thead>
      <tbody>
        <tr class="alert-info">
        <th>89</th>
        <th>33</th>
        <th>61</th>
        </tr>
      </tbody>
    </table>
  </div>


</div>
<h3 class="text-error">
注：表中“全考生”指既参加技能综合测试，又参加文化知识考试的考生。
</h3>
<p/>
<center>
  <%= link_to "返回", students_firstresult_path ,class: "btn btn-primary" %>
</center>
