<% provide(:title, "自主招生查询系统－复试录取分数线") %>
<div class="widget stacked">
  <div class="widget-header">
    <h3>一、普通专业自主招生录取分数线：</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered">
      <thead>
      <tr class="alert-success">
        <th rowspan="2">招生专业</th>
        <th rowspan="2">免文化知识考试考生分数线</th>
        <th colspan="2"><center>普通考生分数线</center></th>
      </tr>
      <tr class="alert-success">
        <th>城市户口</th>
        <th>农村户口</th>
      </tr>
      </thead>
      <tbody>
      <tr class="alert-info">
        <td>模具</td>
        <td>86</td>
        <td>186</td>
        <td>181</td>
      </tr>
      <tr class="alert-info">
        <td>数控</td>
        <td>99</td>
        <td>211</td>
        <td>212</td>
      </tr>
      <tr class="alert-info">
        <td>应用电子</td>
        <td>81</td>
        <td>201</td>
        <td>186</td>
      </tr>
      <tr class="alert-info">
        <td>电子信息</td>
        <td>81</td>
        <td>190</td>
        <td>194</td>
      </tr>
       <tr class="alert-info">
        <td>信息安全</td>
        <td>79</td>
        <td>237</td>
        <td>---</td>
      </tr>
       <tr class="alert-info">
        <td>软件</td>
        <td>95</td>
        <td>234</td>
        <td>230</td>
      </tr>
       <tr class="alert-info">
        <td>汽车</td>
        <td>94</td>
        <td>192</td>
        <td>181</td>
      </tr>
      </tbody>
    </table>
  </div>

 <div class="widget-header">
    <h3>二、艺术专业自主招生录取分数线：</h3>
  </div>
  <div class="widget-content">
    <table class="table table-bordered">
      <thead>
      <tr class="alert-success">
        <th></th>
        <th>单项免试考生合格线</th>
        <th>普通考生分数线</th>
      </tr>
      </thead>
      <tbody>
        <tr class="alert-info">
        <th>影视</th>
        <th>93（免技能综合考核考生）</th>
        <th>196</th>
      </tr>
      <tr class="alert-info">
        <th rowspan="2">广告</th>
        <th>90（免技能综合考生）</th>
        <th rowspan="2">175</th>
      </tr>
      <tr class="alert-info">
        <th>67（免文化知识考试考生）</th>
      </tr>
      </tbody>
    </table>
  </div>



</div>
<p/>
<center>
  <%= link_to "返回", students_reexaminationresult_path ,class: "btn btn-primary" %>
</center>

